.form-control{
    display: flex;
    border-radius:20px;
}
.content{
 margin: 5px; 
 padding: 5px;
 height: 45px;
 width: 400px;
 resize: none;
}
.form-control button{
    height:57px;
    border: none;
    line-height: 45px;
    padding: 5px;
    background:rgb(167, 162, 162);
    text-align: center;
    width: 80px;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}
#list-task{
    width: 600px;
}
#list-task h4 {
    text-transform: uppercase;
    font-size: 18px;
}
#list-task ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
}
#list-task ul li{
    display: flex;
    margin-bottom: 5px;
    padding: 10px;
    background:rgb(229, 231, 225);
    border-radius: 20px;
}
#list-task ul li div {
    width: 80%;
}
#list-task ul li  a {
    text-decoration: none;
    display:block;
    margin-right: 8px;
    color: #333333;
    padding:5px;
    justify-content: space-around;
    
}
#list-task ul li  a:nth-of-type(2){
    background:red;
    border-radius: 5px;
}